<body>
  

  <div class="content">
    <div>
      <h1 class="text-center">Available Amusements</h1>
      <div class="search-bar">
        <%= render "search_form" %>
      </div>
    </div>
  </div>

  <div class="amusement-container mt-3">
    <div class="index-cards-container">
        <% if @apology %>
          <h3><%= @apology %></h3>
        <% end %>
        <% @amusements.each do |amusement| %>
          <%= link_to amusement_path(amusement) do %>
            <div class="index-card">
              <div class="card-trip">
                <% if amusement.photos.attached? %>
                  <%= cl_image_tag amusement.photos.first.key %>
                <% else %>
                  <img src="https://meanderingwild.com/wp-content/uploads/2020/03/fairground-bumper-close.jpg" />
                <% end %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= amusement.name %></h2>
                    <% ratings = amusement.reviews.map { |r| r.rating } 
                    rating = ratings.empty? ? 0.00 : (ratings.sum(0.0) / ratings.size).round(2) %>
                    <p>★<strong><%= rating %></strong> <%= amusement.tagline %></p>
                  </div>
                  <h2 class="card-trip-pricing">£<%= amusement.price %></h2>
                  <% if amusement.user.photo.key %>
                    <%= cl_image_tag amusement.user.photo.key, class: "card-trip-user avatar-bordered" %>
                  <% else %>
                    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    


      <div id="map"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    </div>
</body>
