<div class="container mt-5">
  <h1>Available Amusements</h1>
  <% @amusements.each do |amusement| %>
    <%= link_to amusement_path(amusement) do %>
      <div class="card-trip">
        <% if amusement.photos.attached? %>
          <%= cl_image_tag amusement.photos.first.key %>
        <% else %>
          <img src="https://meanderingwild.com/wp-content/uploads/2020/03/fairground-bumper-close.jpg" />
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= amusement.name %></h2>
            <p><%= amusement.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= amusement.price %></h2>
          <!-- remember to put in logic for IF user has picture -->
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  <% end %>
</div>

