<div class="container mt-5">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg);">
    <div class="container">
    <h1><%= @amusement.name %></h1>
    <p>£<%= @amusement.price %></p>
    </div>
  </div>
  <div class="description mt-3">
    <p><%= @amusement.description %></p>
  </div>
  <a class="btn btn-flat" href="#">Book now!</a>
  <%= link_to 'Edit amusement', edit_amusement_path(@amusement) %> |
  <%= link_to "Scrap amusement",
                  amusement_path(@amusement),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
  <%= render 'booking_form' %>
</div>
