<div class="container mt-5">
  <h1><%= @user.email.split('@')[0] %></h1>
  <% unless @owned_amusements.empty? %>
    <h2>Amusements what I own</h2>
    <% @owned_amusements.each do |amusement| %>
      <h3><%= amusement.name %></h3>
      <p><%= amusement.description %></p>
    <% end %>
  <% end %>
  <% unless @bookings.empty? %>
    <h2>Bookings what are coming up</h2>
    <% @bookings.each do |booking| %>
      <h3><%= booking.amusement.name %></h3>
      <p><%= booking.start_date %> to <%= booking.end_date %></p>
    <% end %>
  <% end %>
  <% unless @lettings.empty? %>
    <h2>Amusements what people want from me</h2>
    <% @lettings.each do |letting| %>
      <h3><%= letting.amusement.name %></h3>
      <p><%= letting.start_date %> to <%= letting.end_date %></p>
    <% end %>
  <% end %>
</div>

